<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Descriptions</key>
	<array>
		<string>Local characteristic is null</string>
		<string>Converting from NSArray to NSData failed</string>
		<string>Local central is null</string>
		<string>Central manager is null</string>
		<string>Central manager is not scanning</string>
		<string>Local peripheral is null</string>
		<string>Discovered peripheral is null</string>
		<string>Local peripheral is connected now</string>
		<string>Peripheral service is null</string>
		<string>Peripherals do not match</string>
	</array>
	<key>Codes</key>
	<array>
		<string>-881001</string>
		<string>-881002</string>
		<string>-882001</string>
		<string>-882002</string>
		<string>-882003</string>
		<string>-883001</string>
		<string>-883002</string>
		<string>-883003</string>
		<string>-883004</string>
		<string>-883005</string>
	</array>
</dict>
</plist>
